nav {
    top: 0px;
    height: 50px;
    background-color: rebeccapurple;
    margin-bottom: 15px;
    display: block;
    padding-top: 10px;
}

nav a {
    float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
    background-color: rgb(15, 180, 235);
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    margin: 10px;
    color: aqua;
    font-size: 19px;
}

article {}